/.vs
.DS_Store
.Thumbs.db
*.sublime*
.idea/
debug.log
package-lock.json
!examples/tauri-app/package-lock.json
.vscode/settings.json
yarn.lock

/.tauri
/target
Cargo.lock
node_modules/

dist-js
dist

android/.gradle/
android/**/build/
examples/tauri-app/node_modules/
examples/tauri-app/dist/
examples/tauri-app/src-tauri/gen/
examples/tauri-app/src-tauri/target/
